<%= "#{@band.name}'s Albums" %>

<% @band.albums.each do |album| %>
  <p><%= link_to album.name, band_album_url(@band.id, album.id) %></p>
<% end %>

<p style="text:underline"><strong><%= "#{@band.name}'s Tracks" %></strong></p>

<% @band.albums.each do |album| %>
     <p><strong><%= album.name %></strong></p>
     <% album.tracks.each do |track| %>

       <p><%= link_to track.name, band_album_track_url(@band.id, album.id, track.id) %></p>
     <% end %>

     <p><%= "No tracks in this album" if album.tracks.length == 0 %>
<% end %>