<!DOCTYPE html>
<html>
<head>
  <title>MusicInventory</title>
  <%= csrf_meta_tags %>
  <%= debug params %>

  <p></p>
  <p><%= link_to "All Bands", all_bands_url %> | <%= link_to "All Albums", all_albums_url %> | <%= link_to "All Songs", all_tracks_url %></p>
</head>
<body>

<%= yield %>

</body>
</html>
